    h1{
        text-align: center;
        color:blue;
        margin-top: 100px;
    }
    table{
        width: 100%}
    .bang1{
        text-align: right
    }
    .bang2{
        text-align: left
    }

    .bang3{
        background-color: yellow;
    }
    .bang4{
        background-color: orange;
    }
    #bang5{
        text-align: center;

    }
